/* #searchrow th{
    padding:0;
    margin:0;
    position: relative;
}

#searchrow form{
    padding: 5px;
}

#searchrow input{
    font-size: 16px;
    padding: 3px;
    width: 100%;
}

#searchrow select{
    margin-top: 7px;
    display: inline-block;
    width: inherit;
}

#searchrow button{
    margin: 1px;
    cursor: pointer;
    padding: 4px;
}

#searchrow button a{
    margin: 5px;
    color: black;
}

#clear-filter{
    position: absolute;
    bottom: 0;
    right: 0;
}
 */
